[Desktop Entry]
Type=Application
Name=FujiNet Go Adam
GenericName=Coleco ADAM with FujiNet
Comment=Self-contained Coleco ADAM computer with built-in FujiNet
Exec=fujinet-go-adam-gnome
Icon=online.fujinet.go.adam.gnome
Terminal=false
Categories=Game;Emulator;
Keywords=adam;coleco;colecovision;fujinet;emulator;
StartupNotify=true
